<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Jasmine Spec Runner</title>
    <% css.forEach(function(style){ %>
    <link rel="stylesheet" type="text/css" href="<%= style %>">
    <% }) %>
    <% with (scripts) { %>
    <% [].concat(jasmine).forEach(function(script){ %>
    <script src="<%= script %>"></script>
    <% }) %>
    <% }; %>

    <script type="text/javascript" src="<%=options.requirejs%>"></script>

    <script type="text/javascript" src="<%=options.requirejsConfigFile%>"></script>

    <script type="text/javascript">
        // One can overwrite certain configuration params here
        require.config(
                <%= JSON.stringify(options.requirejsConfig) %>
        );
    </script>

    <% with (scripts) { %>
    <% [].concat(vendor, helpers, src, reporters).forEach(function(script){ %>
    <script src="<%= script %>"></script>
    <% }) %>
    <% }; %>
	
	<script type="text/javascript">
	(function(){
		var currentWindowOnload = window.onload,
			jasmineEnv = jasmine.getEnv(),
			htmlReporter = new jasmine.HtmlReporter();

		jasmineEnv.updateInterval = 1000;
		jasmineEnv.addReporter(htmlReporter);
		jasmineEnv.specFilter = function(spec) {
			return htmlReporter.specFilter(spec);
		};

		require([
			"jquery",
			<% with (scripts) { %>
			<% [].concat(specs).forEach(function(script){ %>
				"<%= script %>",
			<% }) %>
			<% }; %>
		], function ($) {
			$(function () {
				jasmineEnv.execute();
			});
		});
	}());
	</script>
</head>
<body>
</body>
</html>
